*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s linear;
    position: relative;
}

.container.color {
    background: #373737;
}

.sun-box, .moon-box {
    position: relative;
    transition: all 1s ease;
}

.sun-box.move {
    transform: rotate(-15deg) translate(50px, 50px);
}

.moon-box.move {
    transform: rotate(-15deg) translateX(50px);
}

.sun {
    position: absolute;
    top: -60px;
    left: -20px;
    width: 20px;
    height: 20px;
    background: #ffd64d;
} 

.sun:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: inherit;
    transform: rotate(45deg);
}

.moon {
    position: absolute;
    top: -10px;
    left: 140px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: -5px 1px 0 4px #ba93e7;
    background: rgba(255, 255, 255, 0);
}

.btn {
    width: 180px;
    height: 90px;
    position: relative;
}

.btn_background {
    position: fixed;
    width: 180px;
    height: 90px;
    border-radius: 50px;
    background: #ffb74d;
    cursor: pointer;
    transition: all 1s ease;
}

.btn_background.color {
    background: #893fd7;
}

.btn_face{
    position: absolute;
    top: 9px;
    left: 9px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .2);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn_face.move {
    transform: translateX(90px);
}

.btn_eye-left, .btn_eye-right {
    position: absolute;
    top: 23px;
    width: 5px;
    height: 15px;
    background: #ffb74d;
    border-radius: 30%;
    transition: all 1s ease;
}

.btn_eye-left.open, .btn_eye-right.open {
    animation: moving 3s ease infinite;
    background: #ffb74d;
}

.btn_eye-left.close, .btn_eye-right.close {
    transform: scaleY(0.2) scaleX(2) translateY(14px);
    transform-origin: center;
    transition: all 1s ease;
    background: #893fd7;
}

.btn_eye-left {
    left: 20px;
}

.btn_eye-right {
    left: 46px;
}

.btn_mouth {
    position: absolute;
    top: 46px;
    left: 21px;
    width: 30px;
    height: 12px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    background: #ffb74d;
    transition: all 1s ease;
}

.btn_mouth.close {
    transform: scale(0.2, 0.6); 
    transform-origin: center;
    border-radius: 50%;
    background: #893fd7;
}

.btn_mouth.move {
    animation: rotate 0.5s ease forwards;
}

@keyframes moving {
    0% {
        transform: scaleY(1);
        transform-origin: center;
    }
    5% {
        transform: scaleY(0.1);
        transform-origin: center;
    }
    9% {
        transform: scaleY(1);
        transform-origin: center;
    }
    100% {
        transform: scaleY(1);
        transform-origin: center;  
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    10% {
        opacity: 0.2;
    }
    40% {
        transform: rotate(0deg) translate(80px, 0px);
        opacity: 0;
    }
    60% {
        transform: rotate(360deg) translate(-80px, 0px);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg) translate(0px, 0px);
        opacity: 1;
    }
}